<!--[if lte IE 11]>
<div id="ie" style="width: 100%;max-width: 800px;padding-top: 20px;">
	<div class="alert alert-danger alert-dismissible fade in" role="alert">
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close">
			<span aria-hidden="true">×</span>
		</button>
		<h4>请注意</h4>
		<p>您当前的浏览器可能不支持使用本页面的功能。请更换浏览器访问。</p>
		<p><a href="https://www.mozilla.org/zh-CN/firefox/all/">火狐浏览器(firefox)</a> | <a href="https://www.google.cn/intl/zh-CN/chrome/">谷歌浏览器(chrome)</a></p>
		<br>
		<p style="text-align: right;">
			<button type="button" class="btn btn-danger">知道啦</button>
			<button type="button" class="btn btn-default">忽略</button>
		</p>
	</div>
</div>
<![endif]-->