<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>-</title>
<link rel="STYLESHEET" type="text/css"
	href="/static/index.css?v=2017-06-07">
</head>
<body>

	<div class="header">
		<div class="_title">
			<a href="">&nbsp;</a>
			<div class="nav">
				<div id="tp-weather-widget"></div>
				<div id="tips" class="tips">欢迎使用</div>
			</div>
		</div>
	</div>
	<div class="theBody">
		<div class="main">
			<div class="content">
				<div class="wraper">
					<div class="module">
						<a href="/esweb">Excel服务器</a>
					</div>
					<div class="function">
						<a target="_blank" href="/esweb">登录</a><a target="_blank"
							href="esserver/index" style="color: #f30dec;">密码修改/找回</a>
					</div>
				</div>
				<div class="wraper">
					<div class="module">
						<a href="/"></a>
					</div>
					<div class="function">
						<a href="/"></a>
					</div>
				</div>
			</div>
		</div>
{php}
echo "您的IP是：".request()->ip();
{/php}
	</div>
	<script>
		(function(T, h, i, n, k, P, a, g, e) {
			g = function() {
				P = h.createElement(i);
				a = h.getElementsByTagName(i)[0];
				P.src = k;
				P.charset = "utf-8";
				P.async = 1;
				a.parentNode.insertBefore(P, a)
			};
			T["ThinkPageWeatherWidgetObject"] = n;
			T[n] || (T[n] = function() {
				(T[n].q = T[n].q || []).push(arguments)
			});
			T[n].l = +new Date();
			if (T.attachEvent) {
				T.attachEvent("onload", g)
			} else {
				T.addEventListener("load", g, false)
			}
		}(window, document, "script", "tpwidget",
				"//widget.thinkpage.cn/widget/chameleon.js"))
	</script>
	<script>
		if (typeof tpwidget != 'undefined') {
			tpwidget("init", {
				"flavor" : "slim",
				"location" : "WZ809BF6B5HR",
				"geolocation" : "enabled",
				"language" : "zh-chs",
				"unit" : "c",
				"theme" : "chameleon",
				"container" : "tp-weather-widget",
				"bubble" : "enabled",
				"alarmType" : "badge",
				"color" : "#FFFFFF",
				"uid" : "UF536FF120",
				"hash" : "14d72d6826cf25861729a291bb14954e"
			});
			tpwidget("show");
		}
	</script>

</body>
<script>
	clockon();
	function clockon() {
		var now = new Date();
		var year = now.getFullYear(); //getFullYear getYear
		var month = now.getMonth();
		var date = now.getDate();
		var day = now.getDay();
		var hour = now.getHours();
		var minu = now.getMinutes();
		var sec = now.getSeconds();
		var week;
		month = month + 1;
		if (month < 10)
			month = "0" + month;
		if (date < 10)
			date = "0" + date;
		if (hour < 10)
			hour = "0" + hour;
		if (minu < 10)
			minu = "0" + minu;
		if (sec < 10)
			sec = "0" + sec;
		var arr_week = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五",
				"星期六");
		week = arr_week[day];
		var time = "";
		time = year + "年" + month + "月" + date + "日" + " " + hour + ":" + minu
				+ ":" + sec + " " + week;

		document.getElementById("tips").innerHTML = time;

		var timer = setTimeout("clockon()", 500);
	}
	//document.getElementById("tips").innerHTML=new Date();
</script>
</html>